// Variables de color
$bodyColor: black;
$tituloColor: rgb(255, 0, 174);
$parrafoColor: white;

// Fuentes y variables para las fuentes
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@300&display=swap');
$roboto: 'Roboto';
$raleway: 'Raleway';

// Mixin con parámetro
@mixin colorTexto($parametroColor) {
    color: $parametroColor;
}

// Mixin para el estilo del h2
@mixin estiloH2 {
    @include colorTexto($tituloColor);

    text: {
        align: center;
        decoration: underline;
    }

    font: {
        family: $roboto;
    }
}

// Mixin para el estilo del párrafo
@mixin estiloParrafo {
    @include colorTexto($parrafoColor);

    text: {
        align: justify;
    }

    font: {
        family: $raleway;
    }

    padding: 1rem;
}

body {
    background-color: $bodyColor;
    width: 75%;
    margin: auto;
}

@each $elemento,
$tamano in (h1: 2em, h2: 1.75rem, p: 1.25rem) {
    #{$elemento} {
        font-size: $tamano;
    }
}

// Bucle for para poner márgenes en los divs de los párrafos
@for $i from 1 through 4 {
    .tituloParrafo-#{$i} {
        border-radius: 20px;
        margin: {
            top: 4rem;
            bottom: 4rem;
        }

        @if $i % 2 != 0 {
            background-color: rgb(20, 0, 19);
        } @else {
            background-color: rgb(12, 0, 30)
        }
    }
}

h2 {
    @include estiloH2;
}

p {
    @include estiloParrafo;
}