body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 85%;
}

div.logotipo {
    background-image: url(/img/SIBRA-GestaltPrincipals-1200x675.jpg);
    height: 280px;
    box-shadow: 1px 1px 20px black;
}



img#derecha{
    float: right;
    height: 300px;
    padding: 20px;
}

img#izquierda{
    float: left;
    height: 300px;
    padding: 20px;
}

p{
    font-size: 20px;
}

hr{
border-top: 2px solid blue;

}

h1 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
}