@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

h1{
    color: rgb(15, 227, 117);
}

h3{
    color: rgb(0, 98, 38);
}

body{
    font-family: roboto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.cabecera{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

main,header, hr{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.logo>img{
    height: 13rem;
}

main{
    margin-bottom: 7rem;
    margin-top: 5rem;
    font-size: 20px;
}

.menuMain{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.menuMain>a>div:hover{
    background-color: white;
    border: 2px solid greenyellow;
}

.menuMain>a{
    text-decoration: none;
    color: black;
}

.botonMenu{
    border-radius: 20px;
    background-color: greenyellow;
    padding: 1.5rem;
    margin: 0.5rem;
    border: 2px solid greenyellow;
    font-size: 1.7rem;
}

.menuFooter{
    background-color: black;
    color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.footerRedes{
    display: flex;
    flex-direction: row;
}

.logosRedes>img{
    height: 50px;
    margin: 5px;
}

.footerLogo>img{
    height: 100px;
}

